<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589880368385-rrkd5ggn9b8gavhk8kdjdmdjh4a3gv0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589880368385-rrkd5ggn9b8gavhk8kdjdmdjh4a3gv0c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>589880368385-c1kurq9unj8mnqsrdqreeoupm1rg8lfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZoivnnRlCdSBkaf4rkbnW7xylQJPgNAk</string>
	<key>GCM_SENDER_ID</key>
	<string>589880368385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squach.fitbuddy</string>
	<key>PROJECT_ID</key>
	<string>fit-buddy-33515</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-buddy-33515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589880368385:ios:fb6328cd0205f7a2e20f00</string>
</dict>
</plist>